[package]
name = "martian"
version = "0.4.1"
authors = ["Patrick Marks <patrick@10xgenomics.com>", "Sreenath Krishnan <sreenath.krishnan@10xgenomics.com>"]
edition = "2018"

[dependencies]
libc = "*"
log = "0.4"
fern = "0.5"
chrono = "*"
serde = { version = "1.0", features = ['derive'] }
serde_json = "*"
backtrace = "*"
failure = "*"
failure_derive = "*"
heck = "*"
tempdir = "*"

[dev-dependencies]
indoc = "0.3.3"
