[package]
name = "martian"
version = "0.20.0"
authors = ["Patrick Marks <patrick@10xgenomics.com>", "Sreenath Krishnan <sreenath.krishnan@10xgenomics.com>"]
edition = "2018"
include = ["src/**/*", "README.md"]

[dependencies]
libc = "*"
log = "0.4"
fern = ">=0.5, <=0.6"
chrono = "*"
serde = { version = "1.0", features = ['derive'] }
serde_json = "1.0"
backtrace = "*"
failure = "*"
failure_derive = "*"
heck = "*"
tempfile = "3"
rustc_version = "0.2"
rayon = { version = ">=1.0", optional = true }

[dev-dependencies]
indoc = "0.3.3"
pretty_assertions = "0.6.1"
insta = "0.7.1"

[features]
default = []
